<include file="Index/header" />
<include file="Index/nav" />
        <div class="content col-lg-11">
            <h2 class="lead text-primary">欢迎来到小白前端的后台管理页面</h2>
            <div class="row" style="margin-top:20px;margin-bottom: 100px">
                <div class="col-lg-4 bg-primary col-lg-push-1">
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-right">访问文章的最大数</div>
                            <div class="panel-body text-right"><span class="lead text-primary">{$essay['count']}次</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 bg-primary col-lg-push-2">
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-right">文章数量</div>
                            <div class="panel-body text-right"><span class="lead text-primary">{$count}篇</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 bg-primary col-lg-push-1">
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-right">今日登陆用户数</div>
                            <div class="panel-body text-right"><span class="lead text-primary">{$userCount}位</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 bg-primary col-lg-push-2">
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-right">文章推荐数</div>
                            <div class="panel-body text-right"><span class="lead text-primary">{$ok}篇</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div/>
<div/>
<include file="Index/fotter" />