<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小白前端-后台首页</title>
    <link rel="stylesheet" href="__PUBLIC__/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/uploadify/uploadify.css"/>
    <script src="__PUBLIC__/vendor/kindeditor/kindeditor.js"></script>
    <script src="__PUBLIC__/vendor/kindeditor/lang/zh_CN.js"></script>
    <script src="__PUBLIC__/vendor/jquery.min.js"></script>
    <script src="__PUBLIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/vendor/uploadify/jquery.uploadify.min.js"></script>
    <script src="__PUBLIC__/vendor/layer/layer.js"></script>
    <script src="__PUBLIC__/js/dialog.js"></script>
    <script src="__PUBLIC__/js/image.js"></script>
</head>
<body>
<header>
    <h3>小白前端<small>后台管理系统</small></h3>
    <span class="right"><a href="/blog/admin.php/login/nset">退出登录</a></span>
    <span class="right">
        <span class="glyphicon glyphicon-user"></span>{$uname}
    </span>
</header>