/*通用*/
html{
    font-size: 62.5%;
    color: #222;
}
body{
    background-color: #f5f6f9;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*头部*/
.header{
    width:100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 4px 2px #c7c7c7;
    position: fixed;
    z-index:9999;
}
.center{
    width:80%;
    margin:0 auto;
}
.logo{
    display: inline-block;
    width:220px;
    height: 50px;
    background: url("../image/logo.png");
    margin-top:5px;
}
.keyList{
    font-size: 0;
    float: right;
    margin-right: 10px;
    line-height: 70px;
}
.keyList li{
    font-size: 2.4rem;
    display: inline-block;
    margin-left: 10px;
}
.keyList li a{
    color: #000;
}
.keyList li a:hover{
    color: #24abd7;
    text-decoration: none;
}
.list{
    float: right;
    line-height: 70px;
    cursor: pointer;
    display: none;
}
/*底部内容区*/
.content{
    padding-top: 70px;
    width:80%;
    min-height: 1700px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/*轮播图样式*/
.item{
    margin-top: 20px;
    width:100%;
    height: 400px;
}
.item>img{
    width:100%;
    height: 400px;
}
.item>span{
    width:100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 1.8rem;
    color: #fff;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
}

/*文章*/
.essay{
    width:70%;
    overflow: hidden;
    float: left;
    display: inline-block;
}
.essay_body:first-child{
    margin-top: 30px;
}
.essay_body{
    width:100%;
    height: 200px;
    padding:15px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.3);
    margin-top: 10px;
    position: relative;
}
.essay_body>img{
    display: inline-block;
    height: 100%;
    width:130px;
    float: left;
}
.essay_content{
    display: inline-block;
    margin-left: 20px;
    float: left;
}
.essay_body>a{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.show{
    width:27%;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    display: none;
}
.new,.count,.tell{
    box-shadow: 0 0 6px rgba(0,0,0,.3);
    min-height: 200px;
}
.new>h3,.count>h3,.tell>h3{
    display: inline-block;
    padding: 0;
    border-bottom: 2px solid #2aabd2;
}
.tell li{
    display: inline-block;
    width:40px;
    height: 40px;
    margin-top: 15px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
}
.xinl{
    background-color: #ff0c19;
}
.qq{
    background-color: #24abd7;
}
.qqw{
    background-color: #288bd7;
}
.github{
    background-color: #626262;
}
.email{
    background-color: #85894c;
}
.count{
    margin-top: 40px;
}
/*分页样式*/
.page{
    width:100%;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top:15px;
    clear: both;
    overflow: hidden;
}
.page .current{
    color: #000;
    display: inline-block;
    width:30px;
    text-align: center;
    background-color: #2D93CA;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    margin:2px;
}
.page a{
    color: #000;
    display: inline-block;
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #2D93CA;
    border-radius: 4px;
    margin:1px;
}
.page .next,.page .prev,.page .last,.page .first{
    color: #000;
    display: inline-block;
    width:70px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    background-color: #2D93CA;
}
/*页脚*/
.fotter{
    width:100%;
    height: 150px;
    line-height: 140px;
    background-color: #223430;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
}
.fotter>p{
    font-size: 1.2rem;
}
/*响应式*/
@media (max-width: 980px){
    .show{
        display: none !important;
    }
    .essay{
        width: 100%;
    }
    .new>h3,.count>h3,.tell>h3{
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    .essay_body>img{
        display: none;
    }
    .list{
        display: block;
    }
    .keyList{
        position: absolute;
        left: 0;
        top:70px;
        width:100%;
        background-color: #fff;
        display: none;
    }
    .keyList li{
        display: block;
        text-align: right;
        padding-right: 30px;
    }
}