<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" value="{$zd.keywords}" />
    <meta name="description" value="{$zd.description}" />
    <title>{$zd.title}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/vendor/owl/owl.carousel.css"/>
    <link rel="stylesheet" href="__PUBLIC__/vendor/owl/owl.theme.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/blog.css"/>
    <script src="__PUBLIC__/vendor/jquery.min.js"></script>
    <script src="__PUBLIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/vendor/owl/owl.carousel.min.js"></script>
    <script src="__PUBLIC__/js/blog.js"></script>
</head>
<body>
<div class="header">
    <div class="center">
        <div class="logo"></div>
        <div class="list"><img src="__PUBLIC__/image/list.png"/></div>
        <ul class="keyList">
            <foreach name="key" item="vo">
                <li><a href="/blog/index.php/index/index?keyword={$vo.name}">{$vo.name}</a></li>
            </foreach>
        </ul>
    </div>
</div>
<div class="content">
    <div id="position" class="position">
        <foreach name="Position" item="p">
            <div class="item">
                <img src="{$p.thumb|isThumb=###}" alt="推荐位缩图">
                <span>{$p.title}</span>
            </div>
        </foreach>
    </div>
    <div class="essay">
        <foreach name="essayAll" item="e">
            <div class="essay_body">
                <img src="{$e.thumb|isThumb=###}" alt="文章缩图" />
                <div class="essay_content">
                    <h2>{$e.title}<small>{$e.small_title}</small></h2>
                    <p>{$e.description}</p>
                </div>
                <a href="/blog/index.php/index/read?id={$e.id}" class="btn btn-primary">阅读</a>
            </div>
        </foreach>
        <div class="page">
            {$pageRes}
        </div>
    </div>
    <div class="show">
        <ul class="new">
            <h3>最新文章</h3>
            <foreach name="essayNew" item="n">
                <li><a href="/blog/index.php/index/read?id={$n.id}">{$n.create_time|date="Y-m-d",###}&nbsp;&nbsp;{$n.title}</a></li>
            </foreach>
        </ul>
        <ul class="count">
            <h3>浏览次数最多的文章</h3>
            <foreach name="showCount" item="s">
                <li><a href="/blog/index.php/index/read?id={$s.id}">{$s.title}&nbsp;&nbsp;&nbsp;共({$s.count}次浏览)</a></li>
            </foreach>
        </ul>
        <ul class="tell">
            <h3>快来关注我吧</h3><br/>
            <li class="qq"><img src="__PUBLIC__/image/QQ.png"title="QQ" alt="QQ"/></li>
            <li class="qqw"><img src="__PUBLIC__/image/QQw.png"title="QQ" alt="QQ"/></li>
            <li class="xinl"><img src="__PUBLIC__/image/xinl.png"title="QQ" alt="QQ"/></li>
            <li class="email"><img src="__PUBLIC__/image/email.png"title="QQ" alt="QQ"/></li>
            <li class="github"><img src="__PUBLIC__/image/github.png"title="QQ" alt="QQ"/></li>
        </ul>
    </div>
</div>
<div class="fotter">
    <p>如果想在本站添加友情链接或广告位可以联系我 QQ:1028227712</p>
</div>
</body>
</html>