<include file="Index/header"/>
<include file="Index/nav"/>
        <div class="content col-lg-11">
            <span class="lead text-primary">前端关键字添加</span>
            <form class="form-horizontal" method="post">
                <div class='form-group'>
                    <label class="control-label col-lg-2">名称:</label>
                    <div class="col-lg-3">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">设置状态:</label>
                    <div class="col-lg-3">
                        <label class="radio-inline">
                            <input type="radio" checked="checked" name="status" value="1">开启
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="0">关闭
                        </label>
                    </div>
                </div>
                <button type="button" class="bai_ad btn btn-primary col-lg-push-2 col-lg-3 col-xs-12">添加</button>
            </form>
        </div>
    <div/>
<div/>
<script>
    var SCRIPT = {
        'save_url' : '/blog/admin.php/key/add'
    }
</script>
<include file="Index/fotter"/>